@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>ServisFy</title>
	<meta content="ServisFy" name="description">

	<meta content="ServisFypng" name="keywords">

	<link href="~/img/favicon.png" rel="icon">
	<link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<link href="~vendor/aos/aos.css" rel="stylesheet">
	<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet">

</head>

<body>

	<header id="header" class="header fixed-top">
		<div class="container-fluid container-xl d-flex align-items-center justify-content-between">

			<a href="@Url.Action("Index","Home")" class="logo d-flex align-items-center">
				<img src="~/Dashboard/images/logo.png" alt="">

			</a>

			<nav id="navbar" class="navbar">
				<ul>
					<li><a class="nav-link scrollto active" href="#hero">Anasayfa</a></li>
					<li><a class="nav-link scrollto" href="#about">Hakkımızda</a></li>
					<li><a class="nav-link scrollto" href="#features">Hizmetlerimiz</a></li>
					<li><a class="nav-link scrollto" href="#contact">İletişim</a></li>
					<li><a class="getstarted scrollto" href="@Url.Action("Login","Auth")">Üye Girişi</a></li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav>
		</div>
	</header>
	
	 @RenderBody()

	<footer>
		<div class="container">
			<div class="copyright">
				&copy; Copyright <strong><span>ServisFy</span></strong>. Tüm Hakları Saklıdır
			</div>
		</div>
	</footer>

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


	<script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
	<script src="~/vendor/aos/aos.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="~/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="~/vendor/php-email-form/validate.js"></script>


	<script src="~/js/main.js"></script>

</body>

</html>
