
@{
    ViewData["Title"] = "Yonetim";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
    
<!-- Sadooooooooo-->
<body>
                                    <div class="container-fluid pt-4 px-4">
                                        <div class="bg-light text-center rounded p-4">
                                            <div class="d-flex align-items-center justify-content-between mb-4">
                                                <h6 class="mb-0"><b>Servis</b></h6>
                                                <a href="">Hepsini Göster</a>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table text-start align-middle table-bordered table-hover mb-0">
                                                    <thead>
                                                        <tr class="text-dark">
                                                            <th scope="col">Tarih</th>
                                                            <th scope="col">Plaka</th>
                                                            <th scope="col">Sürücü</th>
                                                            <th scope="col">Okul Adı</th>
                                                            <th scope="col">Durum</th>
                                                            <th scope="col">İşlem</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>01 Jan 2045</td>
                                                            <td>16 S 0101</td>
                                                            <td>Ahmet</td>
                                                            <td>MOSK Bililim Fen Lisesi</td>
                                                            <td>Aktif</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-primary" href="">Güncelle</a>
                                                                <br>
                                                                                                                            
                                                                <br>
                                                                <a class ="btn btn-sm btn-primary pe-5" href="">  Sil   </a>
                                                            </td>
                                                            

                                                        </tr>
                                                        <tr>
                                                            <td>01 Jan 2045</td>
                                                            <td>16 S 0101</td>
                                                            <td>Hakan</td>
                                                            <td>Ertuğrul Gazi Anadolu Lisesi</td>
                                                            <td>Pasif</td>
                                                                 <td>
                                                                <a class="btn btn-sm btn-primary" href="">Güncelle</a>
                                                                <br>
                                                                                                                            
                                                                <br>
                                                                <a class ="btn btn-sm btn-primary" href="">  Sil   </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>01 Jan 2045</td>
                                                            <td>16 S 0101</td>
                                                            <td>Aysu</td>
                                                            <td>İhsan Dİkmen 4 İ.Ö.O</td>
                                                            <td>Pasif</td>
                                                               <td>
                                                                <a class="btn btn-sm btn-primary" href="">Güncelle</a>
                                                                <br>
                                                                                                                            
                                                                <br>
                                                                <a class ="btn btn-sm btn-primary" href="">  Sil   </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>01 Jan 2045</td>
                                                            <td>16 S 0101</td>
                                                            <td>Berke</td>
                                                            <td>Peyami Sefa İ.Ö.O</td>
                                                            <td>Aktif</td>
                                                                <td>
                                                                <a class="btn btn-sm btn-primary" href="">Güncelle</a>
                                                                <br>
                                                                                                                            
                                                                <br>
                                                                <a class ="btn btn-sm btn-primary" href="">  Sil   </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>01 Jan 2045</td>
                                                            <td>16 S 0101</td>
                                                            <td>Sado</td>
                                                            <td>Yenişehir Endüstri Meslek Lisesi</td>
                                                            <td>Aktif</td>
                                                                <td>
                                                                <a class="btn btn-sm btn-primary" href="">Güncelle</a>
                                                                <br>
                                                                                                                            
                                                                <br>
                                                                <a class ="btn btn-sm btn-primary" href="">  Sil   </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <button style="padding: 10px; "><strong>Servis Ekle</strong></button>

</body>
</html>