@{
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="card-body">
	<blockquote class="blockquote blockquote-blue">
		<h2 style="align-content:center"> Tüm Bildirimler</h2> <hr />
		<p>Öğrenciniz servisten indi!</p><hr />
		<p>Servis eve yaklaşmak üzere!</p><hr />
		<p>Öğrenciniz servise bindi.</p><hr />
		<p>Öğrenciniz okula vardı,servisten indi.</p><hr />
		<p>Öğrenciniz servise bindi.</p><hr />
		<p>Servis eve yaklaşmak üzere!</p><hr />
		<p>Öğrenciniz servisten indi!</p><hr />
		<p>Servis eve yaklaşmak üzere!</p><hr />
		<p>Öğrenciniz servise bindi.</p><hr />
		<p>Öğrenciniz okula vardı,servisten indi.</p><hr />
		<p>Öğrenciniz servise bindi.</p><hr />
		<p>Servis eve yaklaşmak üzere!</p><hr />
		<p>Öğrenciniz servisten indi!</p><hr />
		<p>Servis eve yaklaşmak üzere!</p><hr />
		<p>Öğrenciniz servise bindi.</p><hr />
		<p>Öğrenciniz okula vardı,servisten indi.</p><hr />
		<p>Öğrenciniz servise bindi.</p><hr />
		<p>Servis eve yaklaşmak üzere!</p><hr />
		<p>Öğrenciniz servisten indi!</p><hr />
		<p>Servis eve yaklaşmak üzere!</p><hr />
		<p>Öğrenciniz servise bindi.</p><hr />
		<p>Öğrenciniz okula vardı,servisten indi.</p><hr />
		<p>Öğrenciniz servise bindi.</p><hr />
		<p>Servis eve yaklaşmak üzere!</p><hr />
		<p>Öğrenciniz servis binmedi!</p>
	</blockquote>
</div>
